.navbarLinks {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  background-color: rgb(50, 165, 32);
  padding: 15px;
  position: fixed;
  top: 47px; /* Adjust the top value based on the height of your navbar */
  left: 0;
  right: 0;
  z-index: 999; /* Adjust the z-index as needed */
}


.navbarLinks a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  padding: 15px 25px;
  background-color: #32a520;
  border: 1px solid #fff;
  transition: background-color 0.3s, color 0.3s;
  position: relative;
}

.navbarLinks a:hover {
  color: white;
  background-color: green;
}

.navbarLinks li:hover .dropdownMenu {
  transform: translate(0, 5%);
  visibility: visible;
  opacity: 1;
}

.navbarLink {
  position: relative;
  z-index: 1; /* Ensure navbarLink is in front of dropdown menu */
}

.dropdownMenu {
  position: absolute;
  left: 0px;
  transform: translate(0, 0);
  visibility: hidden;
  display: block;
  background-color: #fff;
  padding: 20px 50px ;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  column-count: 1;
  column-gap: 50px;
  transition: transform 0.3s, visibility 0s linear 0.3s;
}

.navbarLink:hover .dropdownMenu {
  transform: translate(0, 8%);
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.categoryButton {
  display: block;
  color: #333;
  border: none;
  margin: 0; /* Remove margin */
  padding: 0; /* Remove padding */
  cursor: pointer;
  font-size: 22px;
  font-weight: bold;
  text-decoration: underline;
  color: #0668b3;
  background-color: transparent;
  margin-bottom: 10px;
}

.categoryButton:hover,
.subcategoryButton:hover {
  color: #055694;
}


/* Additional styles for dropdown menu links */
.dropdownMenu .subcategoryLink {
  display: block;
  color: #333;
  border: none;
  margin-bottom: 10px;
  cursor: pointer;
  font-size: 17px;
  font-weight: 400;
  background-color: transparent;
  padding: 5px;
  text-align: left;
}

.dropdownMenu .subcategoryLink:hover {
  text-decoration: underline;
  background-color: transparent;
  color: #333;
}


/*-------- Media Queries --------*/

@media (max-width: 1290px) {
  .navbarLinks a {
    padding: 15px 15px;
  }
  .dropdownMenu {
    width: 200px; /* Adjust the width */
  }
}

@media (max-width: 1170px) {
  .navbarLinks a {
    padding: 15px 10px;
  }
  .dropdownMenu {
    width: 200px; /* Adjust the width */
  }
}

@media (max-width: 1120px) {
  .navbarLinks {
    top: 44px;
  }
  .navbarLinks a {
    padding: 15px px;
    font-size: 15px;
  }
  .dropdownMenu {
    width: 200px; /* Adjust the width */
  }
}

@media (max-width: 1000px) {
  .navbarLinks {
    display: none;
  }
}
