/* Help.module.css */

.helpContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px auto;
  border-radius: 4px;
  background-color: #fff;
  font-weight: 600;
  padding: 10px; /* Add padding for better spacing */
  max-width: 90%; /* Limit width to prevent overflow on larger screens */
}

.helpText {
  margin: 0;
  color: #333;
  font-size: 1.2rem; /* Use relative units for font size */
  text-align: center; /* Center text to fit better on smaller screens */
  padding: 20px; /* Adjust padding for better spacing */
}

/* Use media queries to adjust styles for different screen sizes */
@media (max-width: 768px) {
  .helpText {
      font-size: 1rem; /* Adjust font size for tablets */
      padding: 15px; /* Adjust padding for tablets */
  }
}

@media (max-width: 480px) {
  .helpText {
      font-size: 0.9rem; /* Adjust font size for phones */
      padding: 10px; /* Adjust padding for phones */
  }
}

.contactLink {
  color: #0668b3;
  text-decoration: none;
  cursor: pointer;
  font-size: 1.1rem; /* Use relative units for font size */
}

.contactLink:hover {
  text-decoration: underline;
}
